@include add-grid(12);
@include add-gutter(20px);
@include add-gutter-style('split');

@mixin grid-container() {

    max-width: 1200px;
    width: auto;
    float: none;
    clear: none;
    padding: 0;
    margin: 0 auto;
}